## Case #006: The Vanishing Diamond

At Miami’s prestigious Fontainebleau Hotel charity gala, the famous “Heart of Atlantis” diamond necklace suddenly disappeared from its display.

### Objectives

1. Find who stole the diamond.

<img src="./images/Screenshot 2026-02-18 102247.png">

In [ ]:
SELECT description
FROM crime_scene
WHERE location = 'Fontainebleau Hotel'

- The query results to this:

#### description

`The Heart of Atlantis necklace disappeared. Many guests were questioned but only two of them gave valuable clues. One of them is a really famous actor. The other one is a woman who works as a consultant for a big company and her first name ends with "an".`

In [ ]:
SELECT name, 
    occupation
FROM guest 
WHERE LOWER(occupation) LIKE '%actor%'
OR (
    LOWER(occupation) LIKE '%consultant%'
    AND LOWER(name) LIKE '%an %'
)

<img src="./images/Screenshot 2026-02-18 103336.png">

- From the result, the potential witnesses are `Clint Eastwood` and `Vivian Nair`. Now, let's look for their statements

In [ ]:
SELECT g.name, 
    ws.clue
FROM guest AS g
JOIN witness_statements AS ws
    ON g.id = ws.guest_id
WHERE ws.guest_id IN (
    SELECT id 
    FROM guest
    WHERE name IN (
        'Clint Eastwood',
        'Vivian Nair'
    )
)

<img src="./images/Screenshot 2026-02-18 103954.png">

In [ ]:
SELECT DISTINCT g.name,
    ar.note
FROM guest AS g
JOIN attire_registry AS ar
    ON g.id = ar.guest_id
JOIN marina_rentals AS mr
    ON g.id = mr.renter_guest_id
WHERE g.invitation_code LIKE '%-R'
AND ar.note LIKE '%navy%'
AND mr.dock_number = 3

<img src="./images/Screenshot 2026-02-18 104722.png">

- With one of the witness saying that the suspect is wearing a `navy suit and a white tie`, the probable suspect of this case is no other than `Mike Manning`. Now, let's try to get his confession

In [ ]:
SELECT confession
FROM final_interviews
WHERE guest_id = (
    SELECT id 
    FROM guest 
    WHERE name = 'Mike Manning'
)

<img src="./images/Screenshot 2026-02-18 105035.png">

<img src="./images/Screenshot 2026-02-18 110021.png">