## Case #005: The Silicon Sabotage

QuantumTech, Miami’s leading technology corporation, was about to unveil its groundbreaking microprocessor called “QuantaX.” Just hours before the reveal, the prototype was destroyed, and all research data was erased. Detectives suspect corporate espionage.

### Objectives

1. Find who sabotaged the microprocessor.

<img src="./images/Screenshot 2026-02-06 133608.png">

- As usual, we need to get the full information of the incident report

In [ ]:
SELECT * 
FROM incident_reports 
WHERE location LIKE '%Quant%'

<img src="./images/Screenshot 2026-02-06 133947.png">

- Using the `incident_id`, we can get the statements of the witnesses

In [ ]:
SELECT er.employee_name, ws.statement
FROM employee_records AS er
JOIN witness_statements AS ws
ON er.id = ws.employee_id
WHERE ws.incident_id = 74

<img src="./images/Screenshot 2026-02-06 134333.png">

In [ ]:
SELECT DISTINCT er.id,
    er.employee_name,
    kal.keycard_code
FROM employee_records AS er
JOIN computer_access_logs AS cal
    ON er.id = cal.employee_id
JOIN keycard_access_logs AS kal
    ON er.id = kal.employee_id
WHERE cal.server_location = 'Helsinki'
    AND kal.keycard_code LIKE '%QX-%'
ORDER BY er.employee_name ASC

- Investigating the result would yield that the `keycard_code` contains three digit. Thus, we can further filter the results from `%QX-%` to `%QX-0%`. With this, we have this result:

<img src="./images/Screenshot 2026-02-18 093018.png">

- Looking at the result, the only person that fits the witnesses' descriptions is `Elizabeth Gordon`. Let's look for her statement

In [ ]:
SELECT statement 
FROM witness_statements
WHERE employee_id = 99

<img src="./images/Screenshot 2026-02-18 093239.png">

- She said about an email regarding about the alarm system. Now, let's investigate that email

In [ ]:
SELECT er.employee_name AS employee_name,
    el.email_subject,
    el.email_content
FROM employee_records AS er
JOIN email_logs AS el
    ON er.id = el.sender_employee_id
WHERE el.recipient_employee_id = 99

<img src="./images/Screenshot 2026-02-18 093628.png">

- Looking for `Norman Owen's` statement, yields no result. Thus, we need to investigate further. While trying to create a query that involves multiple joins, it would not yield any result. Thus, I checked in the `employee_records` table that there were 2 people named `Norman Owens`. However, we don't know the `Norman Owens` that we want here. So, we need to take note of these ids.

In [ ]:
SELECT id 
FROM employee_records
WHERE employee_name = 'Norman Owens'

<img src ="./images/Screenshot 2026-02-18 095559.png">

- Now, let's look for the emails received associated with those ids

In [ ]:
SELECT *
FROM email_logs
WHERE recipient_employee_id IN (85, 263)

<img src="./images/Screenshot 2026-02-18 095959.png">

- In the emails, `Facility 18` was repeatedly mentioned. Looking back, `Norman Owens` emailed `Elizabeth Gordon` about the supposed distraction (fire alarm). Thus, the suspect must be after `Elizabeth Gordon` and enters the said facility after or by `9 o'clock`.

In [ ]:
SELECT er.employee_name,
    fal.access_date,
    fal.access_time
FROM employee_records AS er
JOIN facility_access_logs AS fal
    ON er.id = fal.employee_id
WHERE fal.facility_name = 'Facility 18'

<img src="./images/Screenshot 2026-02-18 101441.png">

- Using the hypothesis stated from above, the suspect might be `Hristo Bogoev`. Now, let's try invoking the prospective suspect

<img src="./images/Screenshot 2026-02-18 101634.png">